AI Evaluation Framework.json
{
  "name": "AI Evaluation Framework",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -544,
        -48
      ],
      "id": "fa6abc27-4b74-48f9-b79a-0a1901303426",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BKZr76lTPc-iJbTyMATkDmdQ7tysO1vVgtDm-yjhKEI",
          "mode": "list",
          "cachedResultName": "AI_Evaluation_Dataset",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BKZr76lTPc-iJbTyMATkDmdQ7tysO1vVgtDm-yjhKEI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BKZr76lTPc-iJbTyMATkDmdQ7tysO1vVgtDm-yjhKEI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -352,
        -48
      ],
      "id": "b378d807-be1e-4ba2-8578-8d8c42d9032d",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4MXMn5srX0VUfkth",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1BKZr76lTPc-iJbTyMATkDmdQ7tysO1vVgtDm-yjhKEI",
          "mode": "list",
          "cachedResultName": "AI_Evaluation_Dataset",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BKZr76lTPc-iJbTyMATkDmdQ7tysO1vVgtDm-yjhKEI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BKZr76lTPc-iJbTyMATkDmdQ7tysO1vVgtDm-yjhKEI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{$json.id}}",
            "model_response": "={{$json.output[0].content[0].text}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "question",
              "displayName": "question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "expected_answer",
              "displayName": "expected_answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "model_response",
              "displayName": "model_response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        -16
      ],
      "id": "6d9f3937-595e-445b-8b2b-8a8265c0255e",
      "name": "Update row in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4MXMn5srX0VUfkth",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -192,
        -48
      ],
      "id": "3d924580-6eb3-491c-b18f-8dd316d908ae",
      "name": "Limit"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        272,
        -48
      ],
      "id": "7bf31c12-1715-4ad2-89a4-dabe745fd4aa",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "={{$json.question}}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        -64,
        112
      ],
      "id": "9ce29f3b-5f40-4306-942b-b4d1fb6b0ab0",
      "name": "LLM Answer Generator",
      "credentials": {
        "openAiApi": {
          "id": "tCbd95RXiUXL8tXl",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a strict AI evaluator.\n\nExpected Answer:\n{{$json.expected_answer}}\n\nModel Response:\n{{$json.model_response}}\n\nRules:\n- Return 1 only if the model response contains the expected answer or an equivalent fact.\n- Return 0 if the answer is wrong, contradictory, or missing.\n- Be strict.\n- Return ONLY a single digit: 1 or 0.\n- Do not explain.\n\nExamples:\nExpected: Paris\nResponse: The capital of France is Paris.\nOutput: 1\n\nExpected: India\nResponse: China has the largest population.\nOutput: 0"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        752,
        32
      ],
      "id": "4b26744d-995e-45b6-996f-fb4d7fff5f27",
      "name": "Evaluator",
      "credentials": {
        "openAiApi": {
          "id": "tCbd95RXiUXL8tXl",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1BKZr76lTPc-iJbTyMATkDmdQ7tysO1vVgtDm-yjhKEI",
          "mode": "list",
          "cachedResultName": "AI_Evaluation_Dataset",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BKZr76lTPc-iJbTyMATkDmdQ7tysO1vVgtDm-yjhKEI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BKZr76lTPc-iJbTyMATkDmdQ7tysO1vVgtDm-yjhKEI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{$json.id}}",
            "score": "={{$json.output[0].content[0].text}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "question",
              "displayName": "question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "expected_answer",
              "displayName": "expected_answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "model_response",
              "displayName": "model_response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1152,
        -160
      ],
      "id": "d5edb5a6-6123-40ef-a7aa-edad5cbb7818",
      "name": "Save Score",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4MXMn5srX0VUfkth",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1008,
        -160
      ],
      "id": "dda9b442-12da-4a7b-b077-494a42bf0ac6",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        576,
        -208
      ],
      "id": "cd2b9b40-8945-4984-8985-5f490803b235",
      "name": "Merge2"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "LLM Answer Generator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Answer Generator": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Evaluator": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Save Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "cb4b4216-c435-4361-a3f3-a2d854214e2e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "52a42a92bd7cf9a2301bfe54a95d202cfc1c220496b990a6f845fb90ccb38f1c"
  },
  "id": "m5yzZ8kl9EhtzPj8",
  "tags": []
}